body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsalmon;
}
/* ////////// SALES PAGE //////////////////// */
th, td {
    padding: 10px;
}
th {
    font-weight: bold;
    border: 1px solid;
    border: 2px solid;
    empty-cells: hide;
    background-color: salmon;
    color: navy;
}
td {
    border: 1px solid;
    text-align: right;
    background-color: peachpuff;
}
fieldset {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    width: 40%;
    background-color: peachpuff;
}

input {
    border: 1px solid;
    padding: 2px;
    margin: 2px;
}
legend {
    color: navy;
}

/* //////////// INDEX PAGE //////////////// */
nav {
    text-align: center;
}
header >nav > ul > li {
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    background-color: cadetblue;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    color: rgb(27, 116, 116);
    margin: 10px;
}
h3, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: rgb(27, 116, 116);
    margin: 10px;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid rgb(75, 11, 11);
}
main > ul > li {
    color: rgb(78, 39, 114);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}
p {
    color: rgb(78, 39, 114);
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    background-color: lightpink;
    padding: 5px;
}
li > p {
    border: 1px solid red;
}