body {
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    padding: 10px;
}
th {
    font-weight: bold;
    border: 1px solid;
    border: 2px solid;
    empty-cells: hide;
}
td {
    border: 1px solid;
    text-align: right;
}
fieldset {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    width: 40%;
}

input {
    border: 1px solid;
    padding: 2px;
    margin: 2px;
}
